
.SliderNews .thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

/* Page Header */
.SliderNews .page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.SliderNews .page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

.SliderNews ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.SliderNews .caption h4 {
    color: #444;
}

.SliderNews .caption p {  
    color: #999;
}


/* Carousel Control */
.SliderNews .control-box {
    text-align: right;
    margin-left: 55px;
}
.SliderNews .carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

.pager { background-color: #990B57; }


/* Mobile Only */
@media (max-width: 767px) {
    .SliderNews .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .SliderNews .caption {
        word-break: break-all;
    }
}


.SliderNews li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

